<div class="container" ng-controller="SearchController">
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <input type="text" class="form-control" placeholder="Откуда" ng-model="departurePlace">
        </div>
        <div class="col-xs-6 col-sm-3">
            <input type="text" class="form-control" placeholder="Куда" ng-model="destinationPlace">
        </div>
        <div class="col-xs-6 col-sm-3">
            <input type="text" class="form-control datepicker-input" placeholder="Когда" ng-model="departureDate">
        </div>
        <div class="col-xs-6 col-sm-3">
            <input type="text" class="form-control datepicker-input" placeholder="Обратно" ng-model="returnDate">
        </div>
    </div>

    <div class="row action-row">
        <div class="col-xs-12 col-sm-2 col-sm-offset-5 text-center">
            <button type="button" class="btn btn-success" ng-click="search()">Найти</button>
        </div>
    </div>

    <div class="row" ng-show="isLoading">
        <div class="col-xs-12 text-center">
            <img src="~/Content/loading.gif" />
        </div>
    </div>

    <div class="row" ng-show="errorMessage">
        <div class="col-xs-12">
            <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
        </div>
    </div>

    <div class="search-results" ng-show="searchResult && !isLoading">
        <div class="row">
            <div class="col-xs-12 text-center">
                <span class="price-header">{{searchResult.totalSum}} {{searchResult.currency}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6" ng-repeat="route in searchResult.routes | orderBy:route.isReturn">
                <div class="route-header text-center">
                    <span>{{route.departureCityName}}</span>
                    <img height="24" src="~/Content/plane.png" />
                    <span>{{route.destinationCityName}}</span>
                </div>
                <div class="route-block">
                    <div class="row" ng-repeat="flight in route.flights | orderBy:flight.orderNumber">
                        <div class="col-xs-2 text-center vcenter">
                            <div><img src="{{flight.airlineImageUrl}}" alt="{{flight.airlineName}}" /></div>
                            <div class="flight-number">{{flight.flightNumber}}</div>
                            <div class="airline-name">{{flight.airlineName}}</div>
                        </div>
                        <div class="col-xs-4 text-center vcenter">
                            <div class="flight-city">
                                <b>{{flight.departureAirport}}</b>
                            </div>
                            <div class="flight-date">
                                {{flight.departureTime}}
                            </div>
                        </div>
                        <div class="col-xs-2 text-center vcenter">
                            <img width="32" src="~/Content/right_arrow.png" />
                        </div>
                        <div class="col-xs-4 text-center vcenter">
                            <div class="flight-city">
                                <b>{{flight.arrivalAirport}}</b>
                            </div>
                            <div class="flight-date">
                                {{flight.arrivalTime}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row action-row">
            <div class="col-xs-12 col-sm-2 col-sm-offset-5 text-center">
                <a type="button" class="btn btn-warning" href="{{searchResult.detailsLink}}" target="_blank">Купить</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/app")
}