input {
    margin-bottom: 5px;
}

.action-row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.flight-row {
    margin-top: 20px;
}

.price-header {
    font-size: large;
}

.route-header {
    margin: 5px;
}

.route-city {
    margin: 0px 4px;
}

.route-block {
    border: solid 1px black;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.flight-number {
    font-size: small;
}

.airline-ico {
    margin-top: 8px;
}

.airline-name {
    font-size: x-small;
    margin-bottom: 8px;
}

.flight-city {
    margin: 8px 4px 0px 4px;
}

.flight-date {
    margin: 4px 4px 8px 4px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right:-4px;
}